name = "MagicEntanglement"
uuid = "f5107b01-e3f5-45d5-bb79-a651481815bd"
authors = ["Zhaohui Zhi"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
